<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="newPostForm" method="post" action="/recipes/add">
        <input type="text" name="Dish_name" placeholder="Dish_name" required>
        <textarea name="Ingredients" placeholder="Ingredients" required rows="10"></textarea>
        <input type="text" name="Steps" placeholder="Steps" required>
        <button class="full-width" type="submit"><%submit%></button>
    
</body>
</html>